<header class="nav clear">
    <a class="nav-icon"></a>
    <ul class="nav-menu nav-menu-index">
        <li class="menu-item"><a class="menu-link" href="/firma">firma</a></li>
        <li class="menu-item"><a class="menu-link" href="/oferta">oferta</a></li>
        <li class="menu-item"><a class="menu-link" href="/kontakt">kontakt</a></li>
    </ul>
    <div class="languages">
        <a class="lang" href="/">PL</a>
        <a class="lang" href="/en/">EN</a>
    </div>
    <a class="icon" href="/"><img class="icon-img" src="img/logo.png"></a>
</header>
