<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Particles</title>  
    <meta property="og:title" content="Particles" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://sylwiacz.github.io/img/sw.jpg" />    
    <meta property="og:url" content="https://sylwiacz.github.io" />    
    <meta property="og:description" content="Particles" />    
    <link href="https://fonts.googleapis.com/css?family=Poiret+One:400|Text+Me+One:400|Open+Sans:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Codystar" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>        
    <link href="css/build.css" rel="stylesheet">
  </head>
  